@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eee;
}

img {
    max-width: 100%;
}

figure {
    padding: 0;
    margin: 0;
}


/* 
    LAYOUT
*/

.topo {
    background-color: black;
    padding: .3em;
}

.topo a {
    display: inline-block;
    width: 150px;
}

.title1 figure {
    display: inline-block;
}

.title1 h1 {
    margin: 0;
}

.my {
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    max-width: 425px;
}

.card-description {
    font-size: .8rem;
}

.card-description h3 {
    font-size: 1.5em;
}

.btns {
    background-color: white;
}